/backmanage/static/node_modules
/fullView/static/node_modules
/mystone/static/node_modules
/others/static/node_modules
/posts/static/node_modules
/fullView/static/src/img/panorama
/others/static/stone_media.mp4
__pycache__
__init__.py
.DS_Store