<!DOCTYPE html>
<html lang="cn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>关于石村</title>
</head>
<body>
    <h1>关于许家山石头村
    </h1>
    <p>许家山石头村位于浙江省宁海县东部，是宁波市内现有建筑规模最大、保存最完整的石屋古村。村落历史可追溯至南宋末年，至今已有近千年历史。村中少有现代化建筑，几乎全部保存石村面貌，随处可见的石屋、石巷、石院、石墙、石板桥、石路、石凳，就像是一个石头的世界，具有极大的建筑特色。同时，石村仍保有着传统的生活方式，村民们淳朴热情，是原始山村生活的真实写照。宁海许家山石头村曾被评为第五批“中国历史文化名村”和首批“中国传统村落”。曾是陈逸飞导演的遗作《理发师》的场景拍摄地，如今当地县政府正编制保护与开发策划，保护古村的石文化以及生活方式的前提下推进旅游开发。</p>
</body>
</html>