<!DOCTYPE html>
<html lang="en">
<head>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edmin</title>
    <link rel="stylesheet" type="text/css" href="{% static 'views/bootstrap/css/bootstrap.min.css' %}">
    <link type="text/css" href="{% static 'views/bootstrap/css/bootstrap-responsive.min.css' %}" rel="stylesheet">
    <link type="text/css" href="{% static 'views/css/theme.css' %}" rel="stylesheet">
    <link type="text/css" href="{% static 'views/images/icons/css/font-awesome.css' %}" rel="stylesheet">
    <link type="text/css" href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600'
        rel='stylesheet'>
</head>
<body>
    <div class="wrapper">
        <div class="container">
            <div class="row">
                <div class="span12">
                    <div class="content">
                        <div class="module message">
                            <div class="module-head">
                                <h3>
                                    反馈与建议</h3>
                            </div>
                            <div class="module-option clearfix">
                                <div class="pull-left">

                                </div>

                            </div>
                            <div class="module-body table">
                                <table class="table table-message">
                                    <tbody>
                                        <tr class="heading" style="width:100%!important;">
                                            <td class="cell-icon" style="width:40px;">
                                                采纳
                                            </td>
                                            <td class="cell-title">
                                                内容
                                            </td>
                                            <td style="width:30px!important;">附件</td>
                                            <td class="cell-time" style="width:130px!important;">
                                                时间
                                            </td>
                                        </tr>
                                        {% for advice in advices %}
                                        {% if advice.star == 1 %}
                                        <tr class="read starred">
                                            {% else %}
                                            <tr class="read">
                                            {% endif %}

                                            <td class="cell-icon" style="width:40px;">
                                                <a href="{% url 'backmanage:star' advice.id %}"><i class="icon-star"></i></a>
                                            </td>

                                            <td class="cell-title">
                                            {{ advice.content }}
                                            </td>
                                            {% if advice.annex == '' %}
                                        <td></td>
                                            {% else %}
                                                <td class="cell-icon hidden-phone hidden-tablet" style="width:30px!important;">
                                                <a download="附件{{ advice.id }}" href="{{ advice.annex }}" target="_blank"><i class="icon-paper-clip"></i></a>
                                            </td>
                                            {% endif %}
                                            <td class="cell-time" style="width:130px!important;">
                                               {{ advice.time }}
                                            </td>
                                        </tr>
                                            {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <div class="module-foot">
                            </div>
                        </div>
                    </div>
                    <!--/.content-->
                </div>
                <!--/.span9-->
            </div>
        </div>
        <!--/.container-->
    </div>
    <div id="question-box" class="question-box" style="display: none;position: absolute;z-index:200;">
    <div class="overview-edit">
      <h3>发表帖子</h3>
      <form action="{% url 'posts:release' %}" method="POST">
        <input type="text" name="title" required placeholder="标题">
        <input type="text" name="keywords" placeholder="标签：#路线 #旅志">
        <textarea placeholder="描述..." name="content" ></textarea>
        <button type="submit" id="save">提 交</button>
        <button type="submit" id="cancel">取 消</button>
      </form>
      <a href="#" title="关闭" id="close-box" class="close-box"><i class="la la-close"></i></a>
    </div>
  </div>
    <!--/.wrapper-->
    <script src="{% static 'views/scripts/jquery-1.9.1.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'views/scripts/jquery-ui-1.10.1.custom.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'views/bootstrap/js/bootstrap.min.js' %}" type="text/javascript"></script>
    <script>
       $(document).ready(function () {

    // 发帖相关
    $("#ask-question").click(function(){
      $("#question-box").fadeIn();
    })
    $("#close-box").click(function(){
      $("#question-box").fadeOut("fast");
    })
    $("#cancel").click(function(){
      $("#question-box").fadeOut("fast");
    })
  })

  function refreshPages(index) {

  }




    </script>
</body>