* {
  margin: 0;
  padding: 0;
  outline: none;
  list-style: none;
}

body {
  width: 100%;
  height: 100vh;
  background: url("../img/homeBg.jpg") no-repeat left top;
  background-size: cover;
  overflow: hidden;
}

.stone-article a img {
  position: absolute;
  font-family: 'impact';
  color: white;
  font-size: 120px;
  left: 50px;
  bottom: 100px;
}


.stone-article a img {
  text-decoration: none;
  transition: all 0.5s;
}

.stone-article a img:active {
  opacity: 0.5;
  color: #feb352
}

.stone-article a img:hover {
  color: #feb352;
}

/* .stone-article a::after {
  content: "about";
  position: absolute;
  font-size: 60px;
  color: white;
  bottom: -60px;
  left: 100px;
  font-family: 'Century Gothic';
  transition: all 0.5s;
} */

/* .stone-article a:hover::after {
  content: "about";
  position: absolute;
  font-size: 60px;
  color: #feb352;
  bottom: -60px;
  left: 100px;
  font-family: 'Century Gothic'
} */

#menu {
  position: fixed;
  right: 20px;
  top: 20px;
  font-size: 20px;
  background: white;
  opacity: 0.7;
  font-family: 'lnkfree';
  transition: all 0.3s;
  outline: none;
  border: none;
  cursor: pointer;
  padding: 5px 10px;
  visibility: hidden;
}

#menu:active {
  opacity: 0.5;
}