<!DOCTYPE html>
<html lang="cn" >

<head>
  <meta charset="UTF-8">
  <title>石村导引</title>
  
  
  
      <link rel="stylesheet" href="{% static 'css/style.css' %}">

  
</head>

<body background="{% static 'img/介绍目录beijing.jpg' %}" >

<div class="title">
  <img src="{% static 'img/jvzi.png' %}" alt="" style="width: 400px; position: absolute;right: 0;top: -5%;">
</div>

<div style="position: absolute;top:0;height: 100vh;">
  <div class="main1" >
    <div class="main2">

    <div class="content" style="position:absolute">
          <div>
                <img src="{% static 'img/目录.png' %}" style="height:700px;" alt="" onclick="window.location.href='{% url 'home:index' %}'">
          </div>
    </div>
  </div>


  <div class="main2">
    <div class="fullview" style="position:absolute" >
        <div> 
            <img src="{% static 'img/全景图.png' %}" style="height:700px;" alt="" onclick="window.location.href='{% url 'fullview:index' %}'">
        </div>
    </div>
  </div>

    

<div  class="main2">
    <div class="stone-model" style="position:absolute" onclick="window.location.href='{% url 'others:shimo' %}'">
        <div>
            <img src="{% static 'img/石物模型.png' %}" style="height:700px;" alt="" >
        </div>
    </div>
</div>

    
<div class="main2">
    <div class="stone-house" style="position:absolute">
        <div>
            <img src="{% static 'img/石屋.png' %}" style="height:700px;" alt="" onclick="window.location.href='http://127.0.0.1:8000/others/main_part/#a2'">
        </div>
    </div>
</div>
    
<div class="main2">
    <div class="corner" style="position:absolute">
        <div>
          <img src="{% static 'img/一隅.png' %}" style="height:700px;" alt="" onclick="window.location.href='http://127.0.0.1:8000/others/main_part/#a1'">
        </div>
    </div>
</div>
    
<div class="main2">
    <div class="museum" style="position:absolute">
        <div>
            <img src="{% static 'img/bowuguan.png' %}" style="height:700px;" alt="" onclick="window.location.href='{% url 'others:main_part' %}'">
        </div>
    </div>
</div>
    

</div>
   
  </div>

      
  



    




  

    <script  src="js/index.js"></script>




</body>

</html>
