<!DOCTYPE html>
<html lang="cn">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>石模展示</title>
  <link rel="stylesheet" href="{% static 'css/sideNav.css' %}">
  <link rel="stylesheet" href="{% static 'css/style2.css' %}">
</head>
<script src="{% static 'Public_Assets/js/jquery.min.js' %}"></script>
<script src="{% static 'node_modules/three/build/three.min.js' %}"></script>
<script src="{% static 'node_modules/three/examples/js/controls/OrbitControls.js' %}"></script>
<script src="{% static 'node_modules/three/examples/js/loaders/GLTFLoader.js' %}"></script>
<script src="{% static 'node_modules/three/examples/js/loaders/DRACOLoader.js' %}"></script>
{#<script src="../userEntry/js/init.js"></script>#}

<body>

  <div class="cont s--inactive">
    <!-- cont inner start -->
    <div class="cont__inner">
      <!-- el start -->
      <div class="el">
        <div class="el__overflow">
          <div class="el__inner">
            <div class="el__bg"></div>
            <div class="el__preview-cont">
              <h2 class="el__heading">石&nbsp;&nbsp;碾</h2>
            </div>
            <div class="el__content">
              <div class="el__text">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;石碾，是一种用石头和木材等制作的使谷物破碎或去皮用的工具，也是许家山石村常见的器具。<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;偶然傍晚经过人家院落，总能见到，或是老农推着石碾，擦一擦脸上劳动的汗水，看着面前的谷物流露的微笑，或是孩童绕着石碾嬉戏玩耍，欢声笑语不绝耳。石碾用的久了，村里的石匠师傅会重新錾出碾齿，赋予石碾以新的生命活力。
              </div>
              <div class="el__close-btn"></div>
            </div>
          </div>
        </div>
        <div class="el__index">
          <div class="el__index-back">1</div>
          <div class="el__index-front">
            <div class="el__index-overlay" data-index="1">1</div>
          </div>
        </div>
      </div>
      <!-- el end -->
      <!-- el start -->
      <div class="el">
        <div class="el__overflow">
          <div class="el__inner">
            <div class="el__bg"></div>
            <div class="el__preview-cont">
              <h2 class="el__heading">石&nbsp;&nbsp;臼</h2>
            </div>
            <div class="el__content">
              <div class="el__text">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;有人说：“石椿乃宅中之钟。”石椿，也叫石臼，是用以砸、捣食材的工具。走进许家山石村每户人家，几乎都可以看到石椿这种器具。在日常生活中，村民们会用石椿捣小数量的食材谷物，使用起来也不会太过费劲。研磨了几十代人生计的石椿，仍安静地躺在许家山石村的宅院中，也活在村民们的心中，没有被遗忘。
              </div>
              <div class="el__close-btn"></div>
            </div>
          </div>
        </div>
        <div class="el__index">
          <div class="el__index-back">2</div>
          <div class="el__index-front">
            <div class="el__index-overlay" data-index="2">2</div>
          </div>
        </div>
      </div>
      <!-- el end -->
      <!-- el start -->
      <div class="el">
        <div class="el__overflow">
          <div class="el__inner">
            <div class="el__bg"></div>
            <div class="el__preview-cont">
              <h2 class="el__heading">石&nbsp;&nbsp;磨</h2>
            </div>
            <div class="el__content">
              <div class="el__text">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;石磨，是用于把米、麦、豆等磨成粉的一种工具，是中国劳动人民的智慧结晶。在许家山石村，几乎家家户户都可以看到石磨的存在，一般直径80cm左右。每到谷物丰收季节，总能听到院中石磨磨谷的声音，伴随着村民们推石磨时淳朴的喊声。石屋旁的石磨，浸润了村民们的汗水，也蕴藏了石村的灵魂。
              </div>
              <div class="el__close-btn"></div>
            </div>
          </div>
        </div>
        <div class="el__index">
          <div class="el__index-back">3</div>
          <div class="el__index-front">
            <div class="el__index-overlay" data-index="3">3</div>
          </div>
        </div>
      </div>
      <!-- el end -->
      <!-- el start -->
      <div class="el">
        <div class="el__overflow">
          <div class="el__inner">
            <div class="el__bg"></div>
            <div class="el__preview-cont">
              <h2 class="el__heading">石&nbsp;&nbsp;井</h2>
            </div>
            <div class="el__content">
              <div class="el__text">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;石井，是从古至今流传的文化遗产。古人以锄下挖，至有甘泉，即为井，以石围之，即为石井。石井不仅是许家山石村的当地特色，也是村民们的水源来源。石井帮助了村民们的日常生养耕作，也成为石村当地的建筑特色之一，映衬着当地石村的石元素并融为一体，石井也成为了村子中不可或缺的一部分，更加体现宁海许家村的石文化。
              </div>
              <div class="el__close-btn"></div>
            </div>
          </div>
        </div>
        <div class="el__index">
          <div class="el__index-back">4</div>
          <div class="el__index-front">
            <div class="el__index-overlay" data-index="4">4</div>
          </div>
        </div>
      </div>
      <!-- el end -->
      <!-- el start -->
      <div class="el">
        <div class="el__overflow">
          <div class="el__inner">
            <div class="el__bg"></div>
            <div class="el__preview-cont">
              <h2 class="el__heading">&nbsp;&nbsp;&nbsp;&nbsp;更多的模型，欢迎您来贡献</h2>
            </div>
            <div class="el__content">
              <div class="el__text">Whatever</div>
              <div class="el__close-btn"></div>
            </div>
          </div>
        </div>
        <div class="el__index">
          <div class="el__index-back">5</div>
          <div class="el__index-front">
            <div class="el__index-overlay" data-index="5">5</div>
          </div>
        </div>
      </div>
      <!-- el end -->
    </div>
    <!-- cont inner end -->
  </div>

  <!-- 侧边导航栏 -->
  <aside style="transform: translateX( 208px );z-index: 99999;" class="stone-side right">
    <button class="btn-side fewer ">
      <span class="hamb-top"></span>
      <span class="hamb-middle"></span>
      <span class="hamb-bottom"></span>
    </button>
    <nav class="stone-nav">
      <ul class="stone-nav-list">
        <li><a id="home" href="#">许家山石村</a></li>
        {% if not user_info == 0 %}
          <li><a id="user" href="{% url 'others:user2' %}"> 欢迎您，{{ userinfo.nickname }}</a></li>
          {% else %}
          <li><a id="user" href="{% url 'login_signup:login_page' %}">登录/注册</a></li>
          {% endif %}
{#          <li><a id="user" href="http://www.baidu.com">登陆</a></li>#}
        <li><a id="main" href="{% url 'others:about' %}">石村简介</a></li>
        <li><a id="stone" href="{% url 'others:shimo' %}">石模展示</a></li>
        <li><a id="main_part" href="{% url 'others:newmain' %}">石村风情</a></li>
        <li><a id="forum" href="{% url 'posts:list' 1 %}">石村社区</a></li>
        <li><a id="build" href="{% url 'mystone:indexmystone' %}">我的石村</a></li>
        <li><a id="help" href="{% url 'others:complain' %}">反馈与建议</a></li>
      </ul>
    </nav>
  </aside>
  <iframe id="entry" style="position: fixed;width: 100vw;height: 100vh;top: 0;left: 0;visibility: hidden"
    src="{% url 'login_signup:login_page' %}" frameborder="0"></iframe>
</body>
<script src="{% static 'js/home.js' %}"></script>
<script src="{% static 'js/index2.js' %}"></script>
<script src="{% static 'render.js' %}"></script>
<script>
    $(document).ready(function () {

     if(location.href.indexOf("#reloaded")==-1){
        location.href=location.href+"#reloaded";
        location.reload();
    }
 })

</script>
</html>